Source: salt-formula-letsencrypt
Maintainer: Michael Kuty <michael.kuty@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-letsencrypt
Vcs-Git: https://github.com/tcpcloud/salt-formula-letsencrypt.git

Package: salt-formula-letsencrypt
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: letsencrypt salt formula
 Install and configure letsencrypt system.
