
{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - git
  - python-dialog
  cli_install_dir: /opt/letsencrypt
RedHat:
  pkgs:
  - git
  - python-dialog
  cli_install_dir: /opt/letsencrypt
{%- endload %}

{%- set client = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('letsencrypt:client')) %}