
{%- load_yaml as base_defaults %}
Debian:
  source:
    engine: pkg
    pkgs:
      - certbot
    cli: certbot
  conf_dir: /etc/letsencrypt
default:
  source:
    engine: url
    url: "https://dl.eff.org/certbot-auto"
    cli: /usr/local/bin/certbot
  conf_dir: /etc/letsencrypt
{%- endload %}

{%- set client = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('letsencrypt:client')) %}
